
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>HubSpot</title>
</head>
<app-header></app-header>
<div class="notecard-container">
<mat-card class="note-card" *ngFor="let cObj of customer" >
   
    <mat-card-content>{{cObj.username}}</mat-card-content><br/><br/>
    <!-- <mat-card-content>{{cObj.id}}</mat-card-content> -->
    <mat-card-content>{{cObj.designation}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.email}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.checkin}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.checkout}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.numberofRooms}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.person}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.location}}</mat-card-content><br/><br/>
    <mat-card-content>{{cObj.duration}}</mat-card-content><br/><br/>
    <!-- <button (click)="delUser(cObj.bookingId)">deletebook</button> -->

</mat-card><br/><br/>
</div>
<button class="btn btn-warning btn-lg btn" routerLink="/booking">book a meeting</button>
