<app-homeheader></app-homeheader>
<section class="text-black-600 body-font relative w-full">
    <!-- <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
      <div class="lg:w-2/3 md:w-1/2 bg-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d121028.28558589114!2d73.72777728465975!3d18.567999977596045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bc2bbc048041bef%3A0xd0c9eb5ac3c3dee5!2sHinjawadi%2C%20Pune%2C%20Maharashtra!3m2!1d18.5912716!2d73.73890899999999!4m5!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!3m2!1d18.520430299999997!2d73.8567437!5e0!3m2!1sen!2sin!4v1686762608911!5m2!1sen!2sin" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
            <p class="mt-1">Pune Hinjewadi</p>
          </div>
          <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
            <a class="text-indigo-500 leading-relaxed">hubspot@email.com</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
            <p class="leading-relaxed">555-7887-787</p>
          </div>
        </div>
      </div> -->
     <!-- <app-feedback></app-feedback> -->
    <!-- </div> -->
    <!DOCTYPE html>
    <html>
      <head>
        <title>Hinjewadi Map Location</title>
        <style>
          /* Set the size of the map container */
          #map {
            height: 500px;
            width: 100%;
          }
        </style>
      </head>
      <body>
        <h1>Hinjewadi Map Location</h1>
    
        <!-- Map container -->
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.7260517884713!2d73.7182!3d18.5971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2974ef48e1edf%3A0xa193a4eafad4496c!2sHinjewadi%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411057%2C%20India!5e0!3m2!1sen!2sus!4v1625279877656!5m2!1sen!2sus"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </body>
    </html>
  </section>
  <app-footer></app-footer>