<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>HubSpot</title>
</head>
<app-adminheader></app-adminheader>
<div class="notecard-container">
    <mat-card class="note-card" *ngFor="let aObj of aList" >
    <!-- <mat-card-content>{{aObj.imgurl}}</mat-card-content> -->
    <!-- <mat-card-content>{{cObj.id}}</mat-card-content> -->
    <mat-card-content><h3>Room Name: {{aObj.roomName}}</h3></mat-card-content>
    <img [src]="aObj.imgurl" />
    <div data-aos="flip-left">
    <mat-card-content><h3>Room Capacity: {{aObj.capacity}}</h3></mat-card-content>
    <mat-card-content><h3>Room Location: {{aObj.location}}</h3> </mat-card-content>
    <mat-card-content><h3>Room value/Price : {{aObj.price}}</h3></mat-card-content>
    <mat-card-content class="wrapper"><h3>Room Details : </h3> <span class="text text-dark">{{aObj.details}}</span></mat-card-content><br/>
   
    <button class="btn btn-danger" (click)="delAdmin(aObj.roomId)">Delete Room</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <button class="btn btn-primary" (click)="delAdmin(aObj.roomId)">Update Room</button> -->

    </div>
</mat-card><br/><br/>

</div>

