
<app-header></app-header>

<body ng-app="app">
    <img src="../../assets/logo.png" class="imglogo">
            <aside>
                
    
                <ul>
                       <li>
                        <div class="nav-item">
                            <i class="material-icons">photo_library</i>
                            <span routerLink="/home">Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <i class="material-icons">Adminhistory</i>
                            <span>Add Room</span>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <!-- <i class="material-icons">local_atm</i> -->
                            <i class="material-icons">photo_library</i>
                            <span>Delete Room</span>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <!-- <i class="material-icons">local_atm</i> -->
                            <i class="material-icons">photo_library</i>
                            <span>view Rooms</span>
                        </div>
                    </li>
                 
                    <li>
                     <div class="nav-item">
                         <i class="material-icons">photo_library</i>
                         <span>Update Room</span>
                     </div>
                 </li>
                    <li>
                        <div class="nav-item">
                            <i class="material-icons">settings</i>
                            <span>settings</span>
                        </div>
                    </li>
                
                    <li>
                        <div class="nav-item">
                            <i class="material-icons">info_outline</i>
                            <span>logout</span>
                        </div>
                    </li>
                </ul>
            </aside>
     
    
    
    </body>
