<app-homeheader></app-homeheader>
<h1>FAQs</h1>

<img src="..assets/faq.jpeg" alt="">

<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"

    (closed)="panelOpenState = false">

      <mat-expansion-panel-header>

        <mat-panel-title>

            How much do conference rooms cost?

        </mat-panel-title>

        <mat-panel-description>

         

        </mat-panel-description>

      </mat-expansion-panel-header>

      <p>Meeting rooms are billed on an hourly basis based on the number of attendees and the number of hours needed. For instance, fees may range from INR 600 to 800 plus taxes if a four-person meeting room is reserved for two hours.




        The cost of a conference space is as follows: INR 100 per seat per hour. A 4-seat conference room costs INR 400 per hour, while a 6-seat meeting room costs INR 600 per hour to reserve. The cost is independent of how many people attend. Additionally,

        no more people may attend the meeting than there are available seats.</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"

                         (closed)="panelOpenState = false">

      <mat-expansion-panel-header>

        <mat-panel-title>

            What are the business days and hours?

        </mat-panel-title>

        <mat-panel-description>

         

        </mat-panel-description>

      </mat-expansion-panel-header>

      <p>The Hubspot website specifies the days and hours of operation.

         Some places even provide conference rooms every day of the year, 24 hours a day.</p>

    </mat-expansion-panel>




    <mat-expansion-panel (opened)="panelOpenState = true"

    (closed)="panelOpenState = false">

    <mat-expansion-panel-header>

    <mat-panel-title>

        Can someone make several reservations at once?

    </mat-panel-title>

    <mat-panel-description>




     </mat-panel-description>

     </mat-expansion-panel-header>

    <p>Multiple reservations are possible, yes. For a specific coworking space, you may choose the day,

         the number of guests, or the number of hours, then add the selection to your basket.

         Then repeat the procedure on the following date.</p>

     </mat-expansion-panel>

   

     <mat-expansion-panel (opened)="panelOpenState = true"

    (closed)="panelOpenState = false">

    <mat-expansion-panel-header>

    <mat-panel-title>

        Can I reserve a meeting space for more than one day?

    </mat-panel-title>

    <mat-panel-description>




     </mat-panel-description>

     </mat-expansion-panel-header>

    <p>The conference room may be reserved all at once for numerous days, and the date range may be chosen at the time of booking.

    For instance, you may choose all three days at once if you have meetings every day from January 1 through 3.

    Alternatively, you can reserve the first, second, and third rooms separately (one transaction at a time).</p>

     </mat-expansion-panel>




     <mat-expansion-panel (opened)="panelOpenState = true"

     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

     <mat-panel-title>

        What amenities are available in meeting rooms?

     </mat-panel-title>

     <mat-panel-description>

 

      </mat-panel-description>

      </mat-expansion-panel-header>

     <p>Hubspot meeting rooms are equipped with basic amenities such as tables, chairs, and wifi.

        Additional equipment, such as projectors and whiteboards, can be requested when booking.</p>

      </mat-expansion-panel>

     

      <mat-expansion-panel (opened)="panelOpenState = true"

     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

     <mat-panel-title>

        What is the cancellation policy for booking a meeting room?

     </mat-panel-title>

     <mat-panel-description>

 

      </mat-panel-description>

      </mat-expansion-panel-header>

     <p>Hubspot meeting room cancellation policy is available on our website. It is important to review the policy

        before making a reservation to understand any fees that may apply.</p>

      </mat-expansion-panel>

 

     

      <mat-expansion-panel (opened)="panelOpenState = true"

     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

     <mat-panel-title>

        Can I change my booking after it has been confirmed?

     </mat-panel-title>

     <mat-panel-description>

 

      </mat-panel-description>

      </mat-expansion-panel-header>

     <p>Yes, you can make changes to your booking by contacting us. However,

        please be aware that any changes made may be subject to availability

        and may incur additional fees.</p>

      </mat-expansion-panel>




     

      <mat-expansion-panel (opened)="panelOpenState = true"

      (closed)="panelOpenState = false">

      <mat-expansion-panel-header>

      <mat-panel-title>

        How much does it cost to rent managed office space?

      </mat-panel-title>

      <mat-panel-description>

 

       </mat-panel-description>

       </mat-expansion-panel-header>

      <p>The cost of renting a managed office space can vary depending on factors such as location,

         size, and the amenities included. However, it is considered more cost-effective than

          leasing a traditional office space, as managed office spaces often include additional services

          and amenities that would otherwise be an additional expense.</p>

       </mat-expansion-panel>





       <mat-expansion-panel (opened)="panelOpenState = true"

       (closed)="panelOpenState = false">

       <mat-expansion-panel-header>

       <mat-panel-title>

        How do I know if the meeting room I am booking is the right size?

       </mat-panel-title>

       <mat-panel-description>

   

        </mat-panel-description>

        </mat-expansion-panel-header>

       <p>The meeting room’s capacity is listed on every provider’s website.

        It is important to consider the number of attendees and the room layout to

        ensure it is comfortable for everyone.</p>

        </mat-expansion-panel>





        <mat-expansion-panel (opened)="panelOpenState = true"

        (closed)="panelOpenState = false">

        <mat-expansion-panel-header>

        <mat-panel-title>

          What hours are the Rooms available from?

        </mat-panel-title>

        <mat-panel-description>

   

         </mat-panel-description>

         </mat-expansion-panel-header>

        <p>The rooms are available to use 9am-6pm Monday to Friday.  

            The last booking will be at 5pm with an end time of 6pm.</p>

         </mat-expansion-panel>

   

 

 





  </mat-accordion>
<app-footer></app-footer>