.mat-expansion-panel {

    margin-bottom: 16px;

    border: 1px solid #ccc;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }

 

  .mat-expansion-panel-header {

    background-color: #f6cfa7;

    padding: 16px;

    display: flex;

    align-items: center;

    cursor: pointer;
    

  }

 

  .mat-expansion-panel-header:hover {

    background-color: #ff4c4c;

  }

 

  .mat-expansion-panel-header .mat-panel-title {

    font-weight: bold;

  }

 

  .mat-expansion-panel-content {

    padding: 16px;

  }

 

  .mat-expansion-panel-content p {

    margin-bottom: 0;

  }

 

  .mat-expansion-panel-header .mat-expansion-indicator {

    margin-left: auto;

    transition: transform 0.3s ease;

  }

 

  .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator {

    transform: rotate(180deg);

  }




  h1{




    text-align: center;

    color: #aa4e07;

    font-style: bold;

    font-family: 'Times New Roman', Times, serif;

    font-weight: 100;

   

    }

   