/* styles.css */

/* Add the existing custom CSS */
.btn-3d {
  margin: 100px;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  background: orangered;
  position: relative;
  padding: 15px 25px;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
  border: none;
  font-family: italic;
}

.btn-3d:hover {
  background: hsl(16, 100%, 45%);
}

.btn-3d:active {
  background: hsl(16, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn-3d::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-right: solid 6px hsl(16, 100%, 30%);
  border-left-width: 0;
  top: 0;
  left: -6px;
}

.btn-3d::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0;
  right: 0;
  bottom: -6px;
}

.btn-3d:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
  border-left-width: 0;
  left: -3px;
}

btn-3d:active::after {
  border: solid 3px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
  border-bottom-width: 0;
  bottom: -3px;
}

/* Add the new styles for the form and button */
.page-container {
  background-color: #f8f8f8;
  padding: 20px;
  
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 1px;
}

.form-control {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;

}

.error-message {
  color: red;
  font-size: 12px;
}

.btn-primary {
  background-color: #FFA500; /* Use the orange shade you want */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #FFC200; /* Use the hover shade you want */
}
