
<app-adminheader></app-adminheader>


<body>
    <section>
      <h1>App settings</h1>
      <div class="elem">
        <div class="toggle">
          <input id="checktoggle" type="checkbox"/>
          <label for="checktoggle"> </label>
        </div>
        <p>Show notification</p>
      </div>
      <div class="elem">
        <div class="toggle">
          <input id="checktoggle1" type="checkbox"/>
          <label for="checktoggle1"> </label>
        </div>
        <p>Auto update</p>
      </div>
      <div class="elem">
        <div class="toggle">
          <input id="checktoggle2" type="checkbox"/>
          <label for="checktoggle2"> </label>
        </div>
        <p>Allow bacground activity</p>
      </div>
    </section>
    <h2>Hej!KK Practice 09242020</h2>
  </body>

