
<body>
  <button class="bg-300"> value</button><br>
  <p></p><p></p>
  <div class="parallax">

    <div class="layout">

      <div class="sidebar">

        <ul>

          <li><a class="sidebar-list-item" href="#0" routerLink="/logouthome"><em>Home</em></a></li>
          <!-- <li><a class="sidebar-list-item" href="#0"><em>Dashboard</em></a></li> -->
<!-- 
          <li><a class="sidebar-list-item" href="#0"><em>Users</em></a></li> -->

          <li><a class="sidebar-list-item" href="#0" routerLink="/feedback"><em>Feedback</em></a></li>

          <li><a class="sidebar-list-item" href="#0" routerLink="/feedback"><em>Suggestions</em></a></li>

          <li><a class="sidebar-list-item" href="#0" routerLink="/custhist"><em>Show Booking History</em></a></li>
          <li><a class="sidebar-list-item" href="#0" routerLink="/roomservice"><em>Book Meet</em></a></li>
          

        </ul>

      </div>




      <main class="content">

        <div class="main-header">

          <div class="main-title">

            <h1>Update User</h1>

          </div>

          <div class="main-form">

            <form name="event">

              <input type="text" id="ftitle" placeholder="Update User Name">

              <input type="text" id="fdescription" placeholder="Update Password">

              <input type="submit" id="fsubmit" value="Save" class="button">

            </form>

          </div>

        </div>

      </main>

    </div>

  </div>

</body>

